  <p>this is  my employee index</p>

<% if current_type %>
  <ul>
    <% @employee.each do |employee| %>
      <li>
         <%= link_to employee.name, employee_path(employee.id) %>
      </li>
    <% end %>
  </ul>
<%end%>