
<div class= container>
   <%= link_to "Add new Department", new_department_path,class:"btn btn-primary",data:{toggle:"modal",target:"#myModal",remote:true}%>

    <div class="table-responsive">
    <table class="table"id="userTables">
     
      <tr>
        <th> Departments</th>
        <th>count</th>
        <th>Action</th>
     </tr>
        <% @departments.each do |department| %>

     <%= render "newuser",department: department%>
    <% end %>
    </table>
</div>

  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body" id ="model_body">   
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
        </div> 

      </div>
    </div>
  </div>

</div>

<!-- Modal -->
